.profile-containter{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 9.7%;
    margin-top: -5%;
    z-index: 3;
}
.profile-mid{
    border-radius: 50%;
    width: 50%;
    padding-right: 20px;
}
.imgprofile{
    border-radius: 50%;
}
.imgprofile img{
    border-radius: 50%;
    box-shadow: 0 0 25px var( --main-color);
}
.imgprofile.active{
    margin-top: -35%;
    top: 20%;
    animation: Move 2s forwards;
}
.imgprofile.closed{
    animation: Move 2s reverse forwards;
}
/* .border-profile{
    margin-left: 27.2%;
    position: absolute;
    width: 24%;
    height: 50%;
    border-radius: 50%  ;
    border: 10px dotted rgb(11, 223, 223);
    animation: spin 20s infinite;
} */
.profile-left.active{
    font-size: 500%;
    font-weight: bold;
    animation: fadeIn 5s;
    padding-right: 10%;
    left: 20px;
}

.toggleaboutme{
    border: 2px solid black;
    background-color: rgb(33, 139, 226);
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-weight: bold;
    margin-left:50px;
}

.toggleaboutme:hover{
    background-color: darkblue;
}

.skills-list{
    display: grid;
    gap: 35px;
    grid-template-columns: 250px 150px 150px;
}
.skills-text{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid rgb(49, 89, 109);
    border-radius: 10px;
}
.skills-text:hover{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: skyblue;
}
.ReactIcon:hover{
    animation: spin 4s infinite;
}

.content{
    display: none;
}
.content.active{
    display: block;
    animation: fadeIn 1s forwards;
}
.Cbox{
    background:linear-gradient(#3205fb38 , #ffffff44);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content-text{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    animation: fadeIn 2s forwards;
}

.modal.active {
    border: 2px solid black;
    position: absolute;
    width: 55%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: 8%;
    animation: fadeIn 2s forwards;
    scrollbar-width: none;
}
.modal.hidden{
    animation: fadeOut 2s forwards;
}
.modal-content{
    color: black;
    background: transparent;
    padding: 5%;
}

@keyframes spin{
    50% {transform: rotate(180deg);}
}
@keyframes flipx{

}

@keyframes Move{
    to{
        transform: translateX(-13vw) translateY(2vw) scale(0.8);
    }
}

@keyframes ReMove{
    to{
        transform: translate(0vw) scale(1);
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@media screen and (max-width: 500px) {
    div.profile-containter{
        display: block;
    }
    div.profile-left .active{
        display: flex;
    }
    div.modal.active{
        overflow-y: auto;
        scrollbar-width: none;
        z-index: 0;
        width: 100%;
        margin-left: auto;
        margin-top: 20%;
        height: 60%;
        
    }
    div.skills-list{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-around;
        padding-bottom: 5%;
    }
    div.download-btn{
        width: auto;
        margin-left: -2%;
    }
    div.profile-mid{
        width: 365px;
        z-index: 3;
    }
    .imgprofile.active{
        margin-top: 140%;
        transform: scale(0.8) translateX(18%);
    }
    .other-skills{
        display: flex;
        flex-direction: column;
    }
    .oskills{
        display: flex;
        justify-content: space-between;
        width: 105%;
    }
    
}