.service-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    padding-bottom: 2%;
}
.service-content{
    display: flex;
    justify-content: center;
    gap: 50px;

}
.service-card{
    margin-top: 2%;
    background:white;
    padding: 1%;
    border-radius: 20px;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
   div.service-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   }
   div.service-card{
    width: 90%;
   }
}